/* Variables */
:root {
    --font: "Lato", sans-serif;

    --filter-font-size: 21px;
    --filter-options-font-size: 17px;
    --filter-options-width: 150px;
    --filter-options-border-radius: 10px;
    --filter-options-margin-right: 10px;
    --filter-options-padding: 5px;

    /* Table body variables */
    --table-header-background-color: rgb(185, 209, 238);
    --table-margin-top: 10px;
    --table-border-size: 1.5px;
    --table-border-color: rgb(33, 83, 138);
    --table-padding: 10px;
    --table-text-color: black;
}

body {
    font-family: var(--font);
}

h1 {
    font-weight: normal;
}

label[for="filter-options"] {
    font-size: var(--filter-font-size);
    margin: var(--filter-margin);
}

label[for="sort-options"] {
    font-size: var(--filter-font-size);
}

select#filter-options {
    padding: var(--filter-options-padding);
    border-radius: var(--filter-options-border-radius);
    font-size: var(--filter-options-font-size);
    text-align: center;
    width: var(--filter-options-width);
    cursor: pointer;

    margin-right: var(--filter-options-margin-right);
}

select#sort-options {
    padding: var(--filter-options-padding);
    border-radius: var(--filter-options-border-radius);
    font-size: var(--filter-options-font-size);
    text-align: center;
    width: var(--filter-options-width);
    cursor: pointer;
}

/* Table styling */
tbody {
    color: var(--table-text-color);
}

/* Style for noscript warning message */
.noscript-warning {
    background-color: #ffdddd;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    border: 1px solid red;
}

.accomplishments-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: var(--table-margin-top);
}

.content-cell {
    word-break: break-word;
}

.accomplishments-table th {
    background-color: var(--table-header-background-color);
}

.accomplishments-table th,
.accomplishments-table td {
    border: var(--table-border-size) solid var(--table-border-color);
    padding: var(--table-padding);
    font-size: var(--filter-font-size);
    text-align: center;
}
