:root {
    --font: "Lato", sans-serif;
    --table-head-color: rgb(185, 209, 238);
    --today-background-color: rgb(226, 227, 254);
    --rollover-date-color: gray;
    --month-button-color: gray;
    --month-button-hover-color: #21528B;
    --calendar-background: rgb(244, 249, 255);
    --calendar-heading: rgb(185, 209, 238);
    --calendar-border: rgb(33, 83, 138);
    --cell-padding: 12px;
}
/* Vary size of cell padding based on screen size */
/* Narrow devices (phones, 320px and up) */
@media only screen and (min-width: 320px) {
    :root {
        --cell-padding: 15px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        --cell-padding: 15px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        --cell-padding: 18px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        --cell-padding: 20px;
    }
}

/* Flexbox container for header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Button container */
.button-container {
    display: flex;
    gap: 15px;
}
.prev-month, .next-month {
    background: none;
    border: none;
    font-size: 40px; 
    cursor: pointer;
    color: var(--month-button-color);
}

.prev-month:hover, .next-month:hover {
    color: var(--month-button-hover-color);
}

/* Body */
body {
    font-family: var(--font);
}

/* Adjustable Calendar */
.calendar-table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--calendar-background);
}

/* Days of the Week */
thead {
    background-color: var(--table-head-color);
    font-weight: lighter;
}

/* Day of the Month  */
.calendar-table td {
    text-align: center;
    height: 8vh;
    width: 5vh;
}

/* Calendar border */
.calendar-table th,
.calendar-table td {
    border: 1px solid var(--calendar-border);
    border-width: 2px;
    padding: var(--cell-padding);
}

/* Current Date */
.current-date {
    background-color: var(--today-background-color);
    font-weight: bold;
}

.rollover-date {
    color: var(--rollover-date-color);
}
