/* Variables */
:root {
    --font: "Lato", sans-serif;
    --margin-heading: 15px;
    --margin-form: 30px;
    --height-textarea: 30vh;
    --button-background-hover: rgb(188, 208, 237);
    --delete-button-background-hover: rgb(228, 87, 87);
    --button-background: rgb(244, 249, 255);
    --font-size-heading: 30px;
    --font-size-form: 22px;
    --font-size-text-input: 18px;
    --margin-save-button-top: 15px;
    --textarea-padding: 20px;
}
/* Vary size of text based on screen size */
/* Narrow devices (phones, 320px and up) */
@media only screen and (min-width: 320px) {
    :root {
        --font-size-heading: 32px;
        --font-size-form: 22px;
        --font-size-text-input: 18px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        --font-size-heading: 35px;
        --font-size-form: 23px;
        --font-size-text-input: 19px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        --font-size-heading: 35px;
        --font-size-form: 23px;
        --font-size-text-input: 20px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        --font-size-heading: 40px;
        --font-size-form: 25px;
        --font-size-text-input: 22px;
    }
}

body {
    font-family: var(--font);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: var(--font-size-heading);
    font-weight: normal;
    margin-left: var(--margin-heading);
    margin-right: var(--margin-heading);
}

form {
    margin-left: var(--margin-form);
    margin-right: var(--margin-form);
    font-size: var(--font-size-form);
}

/* Main form elements */
form textarea {
    border: none;
    background: var(--textarea-background);
    width: 100%;
    box-sizing: border-box; /* Ensures padding does not affect width */
    height: 24vh;
    font-size: var(--font-size-text-input);
    resize: vertical;
}

form input[type="number"] {
    border-radius: 5px;
}

#hours {
    margin-top: 20px;
    font-size: var(--font-size-text-input);
}

button {
    padding: 20px;
    font-size: var(--font-size-text-input);
    background-color: var(--button-background);
    border-width: 0;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-background-hover);
    border-width: 0;
}

#delete-button:hover {
    background-color: var(--delete-button-background-hover);
}

#add-accomplishment-button {
    margin: var(--margin-heading);
}
