:root {
    --body-margin: 0;
    --body-padding: 0;

    --content-padding: 20px;
    --content-h2-font-size: 24px;
    --content-h2-margin-bottom: 20px;

    --button-margin-bottom: 20px;
    --button-padding: 20px;
    --button-border-width: 0;
    --button-border-radius: 10px;

    --notes-display-left-margin: 20px;
    --note-width: 250px;
    --notes-per-row: 3;
    --notes-padding: 20px;
    --notes-border-radius: 10px;
    --notes-box-shadow-top-left-right: 5px;
    --notes-box-shadow-bottom: 2px;
    --notes-display-width: 90%;
    --notes-display-grid-sizing: 1fr;
    --notes-display-gap: 20px;
    --note-h3-margin-top: 0;

    --addnote-textarea-color: #e0f7fa;
    --addnote-padding: 20px;
    --addnote-width: 100%;
    --addnote-height: 120px;
    --addnote-box-shadow-top: 0;
    --addnote-box-shadow-left: 2px;
    --addnote-box-shadow-right: 5px;

    --note-editor-margin-bottom: 20px;
    --note-editor-padding: 20px;
    --note-editor-border-radius: 10px;

    --note-editor-title-content-margin-bottom: 15px;
    --note-editor-title-content-padding: 10px;
    --note-editor-content-margin-bottom: 10px;

    --editor-save-btn--margin-right: 5px;
    --editor-btn-border-width: 0;
    --editor-btn-border-radius: 10px;

    --font: "Lato", sans-serif;

    /*Colors*/
    --button-color: rgb(244, 249, 255);
    --add-note-color-hover: rgb(188, 208, 237);
    --delete-note-color-hover: rgb(228, 87, 87);
    --button-save-color: #ffffff;
    --button-cancel-color: #ffffff;
    --button-save-hover-color: #DDCC77;
    --button-cancel-hover-color: #DDCC77;

    --shadow-color: rgba(128, 128, 128, 0.507);
    --shadow-color-hover: rgb(128, 128, 128);

    --notes-edit-color: #CC6677;
    --notes-edit-input-color: #ffffff;
    --notes-lavendar: #dcd5f859;
    --notes-peach: #fde3ac44;
    --notes-mint: #dbffd652;
    --notes-salmon: #f88b7d28;
    --notes-light-blue: #ace8ff3b;
}

/* Vary sizes based on screen size */
/* Narrow devices (phones, 320px and up) */
@media only screen and (min-width: 320px) {
    :root {
        --note-width: 275px;
        --notes-per-row: 1;
        --note-editor-width: 275px;
        --note-title-font-size: 15px;
        --note-content-padding: 100px;
        --note-content-padding-right: 100px;
        --note-title-right: 73px;
        --font-size-button: 15px;
        --edit-btn-padding: 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        --note-width: 150px;
        --notes-per-row: 2;
        --note-editor-width: 360px;
        --note-title-font-size: 15px;
        --note-content-padding: 100px;
        --note-content-padding-right: 180px;
        --note-title-right: 150px;
        --font-size-button: 15px;
        --edit-btn-padding: 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        --note-width: 225px;
        --notes-per-row: 2;
        --note-editor-width: 510px;
        --note-title-font-size: 18px;
        --note-content-padding: 100px;
        --note-content-padding-right: 310px;
        --note-title-right: 275px;
        --font-size-button: 18px;
        --edit-btn-padding: 15px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        --note-width: 250px;
        --notes-per-row: 3;
        --note-editor-width: 870px;
        --note-title-font-size: 22px;
        --note-content-padding: 200px;
        --note-content-padding-right: 610px;
        --note-title-right: 580px;
        --font-size-button: 20px;
        --edit-btn-padding: 20px;
    }
}

body {
    font-family: var(--font);
    display: flex;
    margin: var(--body-margin);
    padding: var(--body-padding);
}

h1 {
    font-family: var(--font);
    font-weight: normal; 
}

/* meant to hide/show objects my adding/removing this class in js */
.hidden {
    display: none;
}

.content {
    flex-grow: 1;
    padding: var(--content-padding);
}

.content h2 {
    font-size: var(--content-h2-font-size);
    margin-bottom: var(--content-h2-margin-bottom);
}

.buttons {
    margin-bottom: var(--button-margin-bottom);
}

.buttons button {
    padding: var(--button-padding);
    font-size: var(--font-size-button);
    background-color: var(--button-color);
    border-width: var(--button-border-width);
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

.note {
    width: var(--note-width);
    padding: var(--notes-padding);
    border-radius: var(--notes-border-radius);
    box-shadow: var(--notes-box-shadow-top-left-right) 
                var(--notes-box-shadow-top-left-right) 
                var(--notes-box-shadow-top-left-right) 
                var(--notes-box-shadow-bottom) 
                var(--shadow-color);
}

.notes-display {
    width: var(--notes-display-width);
    display: grid;
    grid-template-columns: repeat(var(--notes-per-row), var(--notes-display-grid-sizing));
    gap: var(--notes-display-gap);
}

.note h3 {
    margin-top: var(--note-h3-margin-top);
}

.add-notes textarea {
    background-color: var(--note-textarea-color);
    padding: var(--addnote-padding);
    width: var(--addnote-width);
    height: var(--addnote-height);
    box-shadow: var(--addnote-box-shadow-top) var(--addnote-box-shadow-left) var(--addnote-box-shadow-right) rgba(0, 0, 0, 0.1);
}

#add-note-btn:hover {
    background-color: var(--add-note-color-hover);
}

#delete-note-btn:hover {
    background-color: var(--delete-note-color-hover);
}

#done-deleting-note-btn:hover {
    background-color: var(--delete-note-color-hover);
}

/* Parameter: 5n is the frequency, in other words
    "This color appears every 5 notes."*/
.note:nth-child(5n + 1) {
    /*Notes: 1, 6, 11, etc.*/
    background-color: var(--notes-peach);
}
.note:nth-child(5n + 2) {
    /*Notes: 2, 7, 12, etc.*/
    background-color: var(--notes-mint);
}
.note:nth-child(5n + 3) {
    /*Notes: 3, 8, 13, etc.*/
    background-color: var(--notes-salmon);
}
.note:nth-child(5n + 4) {
    /*Notes: 4, 9, 14, etc.*/
    background-color: var(--notes-lavendar);
}
.note:nth-child(5n + 5) {
    /*Notes: 4, 9, 14, etc.*/
    background-color: var(--notes-light-blue);
}

.note:hover {
    box-shadow: var(--notes-box-shadow-top-left-right) 
                var(--notes-box-shadow-top-left-right) 
                var(--notes-box-shadow-top-left-right) 
                var(--notes-box-shadow-bottom) 
                var(--shadow-color-hover);
}

#note-editor {
    background-color: var(--notes-edit-color);
    width: var(--note-editor-width);
    margin-bottom: var(--note-editor-margin-bottom);
    padding: var(--note-editor-padding);
    border-radius: var(--note-editor-border-radius);
    box-shadow: var(--notes-box-shadow-top-left-right) 
                var(--notes-box-shadow-top-left-right) 
                var(--notes-box-shadow-top-left-right) 
                var(--notes-box-shadow-bottom) 
                var(--shadow-color);
}

#note-editor-title {
    display: block;
    background-color: var(--notes-edit-input-color);
    font-size: var(--note-title-font-size);
    border: none;
    border-radius: var(--note-editor-border-radius);
    margin-bottom: var(--note-editor-title-content-margin-bottom);
    padding: var(--note-editor-title-content-padding);
    padding-right: var(--note-title-right);
}

#note-editor-content {
    display: block;
    background-color: var(--notes-edit-input-color);
    font-family: var(--font);
    font-size: var(--note-title-font-size);
    border: none;
    border-radius: var(--note-editor-border-radius);
    padding: var(--note-editor-title-content-padding);
    padding-right: var(--note-content-padding-right);
    padding-bottom: var(--note-content-padding);
    margin-bottom: var(--note-editor-content-margin-bottom);
}

#editor-save-btn {
    font-size: var(--font-size-button);
    background-color: var(--button-save-color);
    padding: var(--edit-btn-padding);
    margin-right: var(--editor-save-btn--margin-right);
    border-width: var(--editor-btn-border-width);
    border-radius: var(--editor-btn-border-radius);
    cursor: pointer;
}

#editor-cancel-btn {
    font-size: var(--font-size-button);
    background-color: var(--button-cancel-color);
    padding: var(--edit-btn-padding);
    border-width: var(--editor-btn-border-width);
    border-radius: var(--editor-btn-border-radius);
    cursor: pointer;
}

#editor-save-btn:hover {
    background-color: var(--button-save-hover-color);
}

#editor-cancel-btn:hover {
    background-color: var(--button-cancel-hover-color);
}
